@import "tailwindcss";
html,
body,
:root{
  height: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #000000;           
  --muted-foreground: #6b7280;
   --destructive: #ef4444; 
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive); 
  --color-primary: var(--primary);        
  --color-muted-foreground: var(--muted-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
     --destructive: #f87171;
    --primary: #ffffff;           
    --muted-foreground: #9ca3af;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
